<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>811 Laroe Plant Guide</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="pinterest" content="nopin">

    {# The nested tabs #}
    <link rel="stylesheet" href="./tabs/style.css">

    {# Bootstrap css #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    {# PhotoSwipe (the slideshow)) #}
    <link rel="stylesheet" href="./photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" href="./photoswipe/photoswipe-dynamic-caption-plugin.css">

    <link rel="stylesheet" href="plantbook.css">

    {# favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="container">
    <h1>811 Laroe Plant Guide</h1>
    </div>

  {% macro confidence(c) -%}
    {% if c == "medium" %}
      <i class="qmark"></i>
    {% elif c == "low" %}
      <i class="qmark"></i>
      <i class="qmark"></i>
    {% elif c == "unknown" %}
      <i class="qmark"></i>
      <i class="qmark"></i>
      <i class="qmark"></i>
    {% endif %}
  {%- endmacro %}

  {% macro photo(key, photo, plant_record) -%}
        <div class="col-sm-2 pswp-gallery__item" id="{{key}}-{{photo.safe_filename}}">
          <a href="images/{{photo.safe_filename}}" data-pswp-width="{{photo.width}}" data-pswp-height="{{photo.height}}" target="_blank">
            <img src="thumbs/{{photo.safe_filename}}" alt="{{plant_record.scientific_name}}"
              height="{{photo.thumbnail_height}}" width="{{photo.thumbnail_width}}"
              style="margin:10px; width: 150px; height: 150px; object-fit: cover;">
          </a>
          <div class="pswp-caption-content">
            <div class="photo-record">
            {% if plant_record.nativity %}
              <div class="nativity">
                <span class="badge badge-pill {{nativity_labels[plant_record.nativity]}}">{{nativity_values[plant_record.nativity]}}</span>
              </div>
            {% endif %}
              <p class="scientific-name">{{plant_record.scientific_name}}{{confidence(plant_record.idConfidence)}}</p>
              <p class="common-name">{{plant_record.common_name}}</p>
              <dl>
              {% if photo.caption %}
                <dt>Note:</dt>
                <dd>{{photo.caption}}</dd>
              {% endif %}
                <dt>Location:</dt>
                <dd>{{photo.location_line}}</dd>
              {% if photo.introduction_line %}
                <dt>Introduced:</dt>
                <dd>{{photo.introduction_line}}</dd>
              {% endif %}
                <dt>Date:</dt>
                <dd>{{photo.date}}</dd>
              </dl>
            </div>
          </div>
        </div>
  {%- endmacro %}

  {% macro plantEntry(p, key) -%}
    <div class="plant-record">
      <div class="row header-row">
        <div class="column col-sm-8">
          <div class="scientific-name">{{p.scientific_name}} {{confidence(p.idConfidence)}}</div>
          <h2 class="common-name">{{p.common_name}}</h2>
        </div>
        <div class="col-sm-4" style=" text-align:right;">
        {% if p.nativity %}
          <span class="badge badge-pill {{nativity_labels[p.nativity]}}">{{nativity_values[p.nativity]}}</span>
        {% endif %}
        </div>
      </div>
      <div class="row">
      {% for photo_record in p.photo_records %}
        {{ photo(key, photo_record, p) }}
        {#
        <div class="col-sm-2 pswp-gallery__item" id="{{key}}-{{photo.safe_filename}}">
          <a href="images/{{photo.safe_filename}}" data-pswp-width="{{photo.width}}" data-pswp-height="{{photo.height}}" target="_blank">
            <img src="thumbs/{{photo.safe_filename}}" alt="{{p.scientific_name}}"
              height="{{photo.thumbnail_height}}" width="{{photo.thumbnail_width}}"
              style="margin:10px; width: 150px; height: 150px; object-fit: cover;">
          </a>
          <div class="pswp-caption-content">
            <div class="photo-record">
            {% if p.nativity %}
              <div class="nativity"><span class="badge badge-pill {{nativity_labels[p.nativity]}}">{{nativity_values[p.nativity]}}</span></div>
            {% endif %}
              <p class="scientific-name">{{p.scientific_name}}{{confidence(p.idConfidence)}}</p>
              <p class="common-name">{{p.common_name}}</p>
              <dl>
              {% if photo.caption %}
                <dt>Note:</dt>
                <dd>{{photo.caption}}</dd>
              {% endif %}
                <dt>Location:</dt>
                <dd>{{photo.location_line}}</dd>
              {% if photo.introduction_line %}
                <dt>Introduced:</dt>
                <dd>{{photo.introduction_line}}</dd>
              {% endif %}
                <dt>Date:</dt>
                <dd>{{photo.date}}</dd>
              </dl>
            </div>
          </div>
        </div>
        #}  
      {% endfor %}
      </div>
      {% if p.snippet %}
      <div class="row">
        <div class="column plant-listing">{{p.snippet}}</div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-sm-5 plant-detail">
          {% if p.notes %}
          <dl><dt>Notes:</dt><dd>{{ p.notes }}</dd></dl>
          {% endif %}  
        </div>
        <div class="col-sm-4 plant-detail">
          {% if p.locations %}
          <dl><dt>Location:</dt><dd>{{ p.get_location_csv() }}</dd></dl>
          {% endif %}
        </div>
        <div class="col-sm-3 plant-detail">
          {% if p.introduced_lines %}
          <dl><dt>Introduced:</dt><dd>{{ p.get_introduced_lines_csv() }}</dd></dl>
          {% endif %}
        </div>
      </div>
    {% if p.has_errors() %}
      <div class="row">
        <div class="column plant-listing">
          <div>Errors</div>
          <ul>
          {% for error in p.errors %}
            <li>{{error}}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    </div>
  {%- endmacro %}

  {% macro plantList(key, plants) -%}
    <div class="container" id="gallery_{{key}}">
    {% for p in plants %}
      {{ plantEntry(p, key) }}
    {% endfor %}
    </div>
  {%- endmacro %}

  {% macro statsPage() -%}
    <div class="plant-record container">
      <div class="row header-row"><h2>Number of Plant Species</h2></div>
      <div class="row">
      <h3>By Location:</h3>
      {% for location in locations %}
        <p><b>{{locations[location]}}:</b> {{ plant_collection.get_plants_by_location(location)|length }}</p>
      {% endfor %}
      </div>
      <div class="row">
      <h3>By Type:</h3>
      {% for plant_type in plant_types %}
      <p><b>{{plant_types[plant_type]}}:</b> {{ plant_collection.get_plants_by_type(plant_type)|length }}</p>
      {% endfor %}
      </div>
      <div class="row">
      <p><b>Total:</b> {{ plant_collection.plant_records|length }}</p>
      </div>
    </div>
  {%- endmacro %}

  {% macro bestPhotos() -%}
    <div class="container plant-record" id="gallery_best_photos">
    <div class="row">
    {% for filename in plant_collection.best_photos %}
      {{ photo("best_photos", plant_collection.best_photos[filename], plant_collection.plant_records_by_filename[filename]) }}
    {% endfor %}
    </div>
    </div>
  {%- endmacro %}


    <div class="tab container">
      <div class="tab__list">
        <div class="tab__item">All Plants</div>
        <div class="tab__item">By Location</div>
        <div class="tab__item">By Type</div>
        <div class="tab__item">Most Recent</div>
        <div class="tab__item">ID Needed</div>
        <div class="tab__item">Best Photos</div>
        <div class="tab__item">Stats</div>
      </div>
      <div class="tab__content">
        <div class="tab__content-item">{{ plantList("all", plants) }}</div>
        <div class="tab__content-item tab">
          <div class="tab__list">
            {% for location in locations %}
              <div class="tab__item">{{locations[location]}}</div>
            {% endfor %}
          </div>
          <div class="tab__content">
            {% for location in locations %}
            <div class="tab__content-item">
              {{ plantList(location, plant_collection.get_plants_by_location(location)) }}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="tab__content-item tab">
          <div class="tab__list">
            {% for plant_type in plant_types %}
              <div class="tab__item">{{plant_types[plant_type]}}</div>
            {% endfor %}
          </div>
          <div class="tab__content">
            {% for plant_type in plant_types %}
            <div class="tab__content-item">
            {{ plantList(plant_type, plant_collection.get_plants_by_type(plant_type)) }}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="tab__content-item">{{ plantList("latest", plant_collection.get_latest_plants()) }} </div>
        <div class="tab__content-item tab">
          <div class="tab__list">
            <div class="tab__item">?</div>
            <div class="tab__item">??</div>
            <div class="tab__item">???</div>
          </div>
          <div class="tab__content">
            <div class="tab__content-item">
              I think I've made pretty good guesses
              {{ plantList("medium", plant_collection.get_plants_by_id_confidence("medium")) }}
            </div>
            <div class="tab__content-item">
              I'm probably wrong about these
              {{ plantList("low", plant_collection.get_plants_by_id_confidence("low")) }}
            </div>
            <div class="tab__content-item">
              I have no reasonable guess
              {{ plantList("unknown", plant_collection.get_plants_by_id_confidence("unknown")) }}
            </div>
          </div>
        </div>
        <div class="tab__content-item">
          {{ bestPhotos() }}
        </div><!-- xxx -->
        <div class="tab__content-item">
          {{ statsPage() }}
        </div>
      </div>
    </div>

    <button
        type="button"
        class="btn btn-outline-dark btn-floating btn-lg"
        id="btn-back-to-top"
        >
    <i class="bi-arrow-up"></i>
    </button>

    <script type="module">
      import PhotoSwipeLightbox from './photoswipe/dist/photoswipe-lightbox.esm.js';
      import PhotoSwipeDynamicCaption from './photoswipe/photoswipe-dynamic-caption-plugin.esm.js';

      const smallScreenPadding = {
        top: 0, bottom: 0, left: 0, right: 0
      };
      const largeScreenPadding = {
        top: 0, bottom: 0, left: 0, right: 30
      };

      function createLightbox(tag) {
        const lightbox = new PhotoSwipeLightbox({
          showHideAnimationType: 'fade',
          gallerySelector: '#gallery_' + tag,
          childSelector: '.pswp-gallery__item',
          bgOpacity: 0.95,
          
          // optionally adjust viewport
          paddingFn: (viewportSize) => {
            return viewportSize.x < 700 ? smallScreenPadding : largeScreenPadding
          },
          pswpModule: () => import('./photoswipe/dist/photoswipe.esm.js')
        });

        const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
          mobileLayoutBreakpoint: 700,
          type: 'aside',
          mobileCaptionOverlapRatio: 1
        });
        lightbox.on('change', () => {
          var filename = pswp.currSlide.content.data.src.replace(/^.*[\\/]/, '')
          var loc = tag + "-" + filename;
          var scrollDiv = document.getElementById(loc).offsetTop;
          window.scrollTo({ top: scrollDiv - 100, behavior: 'smooth'});
        });

        lightbox.init();
      }
      createLightbox('all');
      {% for plant_type in plant_types %}
        createLightbox('{{ plant_type }}')
      {% endfor %}
      {% for location in locations %}
        createLightbox('{{ location }}')
      {% endfor %}
      createLightbox('latest')
      createLightbox('medium')
      createLightbox('low')
      createLightbox('best_photos')
      createLightbox('unknown')

    </script>

    <script  src="./tabs/script.js"></script>
    <script>
      //Get the button
      let mybutton = document.getElementById("btn-back-to-top");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      // When the user clicks on the button, scroll to the top of the document
      mybutton.addEventListener("click", backToTop);

      function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>
