/* styles for the gallery */

.pswp-gallery__item {
  Xmargin: 0 4px 4px 0;
  Xborder: 1px solid black;
}
.pswp-gallery__item img {
  Xdisplay: block;
}
.pswp-gallery {
  max-width: 650px;
  padding: 0 50px 50px;
  background: #eee;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.pswp__dynamic-caption {
  color: #fff;
  width: 100%;
}
.pswp__dynamic-caption a {
  color: #fff;
  text-decoration: underline;
}

/* ----------------------- */
h1,h2 {
  font-family: Georgia,Times,Times New Roman,serif;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.plant_caption {
  color: black;
}

.plant_caption p {
  margin: 0 0 0.5em 0;
}

.plant_caption .scientific_name {
  font-style: italic;
  font-size: 1.6em;
  line-height: 1.1em;
  text-indent: -1em;
  padding-left: 1em;
}

.plant_caption .common_name {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.1em;
  text-indent: -1em;
  padding-left: 1em;
}

.plant_listing .scientific_name {
  font-family: Georgia,Times,Times New Roman,serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1.1em;
  text-indent: -1em;
  padding-left: 1em;
}

.plant_listing .common_namex {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.1em;
  text-indent: -1em;
  padding-left: 1em;
}

.plant_listing {
  font-size: calc(1em * 1.2);
  Xfont-family: sans-serif;
}

a.snippet-link:link {
  text-decoration: none;
}
